openapi: "3.0.1"
info:
  title: "MeLi"
  version: "2021-03-03T04:52:56Z"
servers:
  - url: "https://api.softwarevil.com/{basePath}"
    variables:
      basePath:
        default: "/meli"
paths:
  /mutant:
    post:
      requestBody:
        description: Body de consulta de mutaciones para un genoma
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MutantIdentificationBody'
      responses:
        "200":
          description: "Mutant Response"
        "403":
          description: "Human Response"
  /stats:
    get:
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatioResponse"
components:
  schemas:
    RatioResponse:
      title: "Ratio Query Response"
      type: object
      properties:
        count_mutant_dna:
          type: integer
          minimum: 0
          example: 1
        count_human_dna:
          type: integer
          minimum: 0
          example: 2
        ratio:
          type: number
          minimum: 0
          example: 0.5
      additionalProperties: false
    MutantIdentificationBody:
      title: "Mutant Body Identification Schema"
      type: object
      properties:
        dna:
          type: array
          items:
            type: string
            pattern: "^[ACGT]+$"
            example:
              - "ACGT"
              - "CGAT"
      required:
        - dna
      additionalProperties: false
